# Xcode
.DS_Store
build/
DerivedData/

# Swift Package Manager
Packages/
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Firebase
GoogleService-Info.plist

# 기타 환경 파일
*.xcuserstate
